@{
    ViewBag.Title = "Home Page";
}

<div class="parallax-container">
    <div class="parallax">
        <img src="~/Resources/Images/parallax5.jpg">
    </div>
</div>


<div class="container">
    <div class="row center" id="titulo">
        <div class="col l8 offset-l2 center">
            <img id="imagenTitulo" src="~/Resources/Images/Logo_COMAX_color-01 (1).png" height="300" />
        </div>
    </div>
    <div class="row center" id="filaContenido1">
        <h1 id="filaContenido1">Quiénes somos</h1>
        <div class="col l4">
            <div class="row">
                <i class="material-icons large" style="color:green">check_circle</i>
            </div>
            <div class="row center-align">
                <h4>Somos un equipo enfocado en la responsabilidad y el trabajo arduo. Nos caracterizamos por centrarnos en los resultados esperados.</h4>
            </div>
        </div>
        <div class="col l4">
            <div class="row">
                <i class="material-icons large" style="color:gold">hearing</i>
            </div>
            <div class="row center-align">
                <h4>Al buscar resultados, nos centramos en sus necesidades. Es por lo cual, siempre estamos en constante contacto para obtener el resultado que espera.</h4>
            </div>
        </div>
        <div class="col l4">
            <div class="row">
                <i class="material-icons large" style="color:purple">format_paint</i>
            </div>
            <div class="row center-align">
                <h4>Nuestro trabajo siempre será realizado con esfuerzo y pasión para así poder entregarle el producto final que usted desea.</h4>
            </div>
        </div>
    </div>
 </div>
<div class="parallax-container">
    <div class="parallax">
        <img src="~/Resources/Images/parallax4.jpg">
    </div>
</div>

<div class="container">
    <div class="row center" id="filaContenido2">
        <h1>Nuestras obras</h1>
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="~/Resources/Images/Construccion1.jpg"> <!-- random image -->
                    <div class="caption center-align">
                        <h3 style="text-shadow:5px 5px 5px #000000">Remodelación</h3>
                        <h5 class="light grey-text text-lighten-3" style="text-shadow:5px 5px 5px #000000">Las Pircas, Peñalolén.</h5>
                    </div>
                </li>
                <li>
                    <img src="~/Resources/Images/Construccion2.jpg"> <!-- random image -->
                    <div class="caption left-align">
                        <h3 style="text-shadow:5px 5px 5px #000000">Remodelación</h3>
                        <h5 class="light grey-text text-lighten-3" style="text-shadow:5px 5px 5px #000000">Las Perdices, Peñalolén.</h5>
                    </div>
                </li>
                <li>
                    <img src="~/Resources/Images/Construccion3.jpg"> <!-- random image -->
                    <div class="caption right-align">
                        <h3 style="text-shadow:5px 5px 5px #000000">Remodelación</h3>
                        <h5 class="light grey-text text-lighten-3" style="text-shadow:5px 5px 5px #000000">La Reina.</h5>
                    </div>
                </li>
                <li>
                    <img src="~/Resources/Images/Construccion4.jpg"> <!-- random image -->
                    <div class="caption center-align">
                        <h3 style="text-shadow:5px 5px 5px #000000">Proyecto Sencorp</h3>
                        <h5 class="light grey-text text-lighten-3" style="text-shadow:5px 5px 5px #000000">Las Condes.</h5>
                    </div>
                </li>
                <li>
                    <img src="~/Resources/Images/Construccion5.jpg"> <!-- random image -->
                    <div class="caption center-align">
                        <h3 style="text-shadow:5px 5px 5px #000000">Redsalud</h3>
                        <h5 class="light grey-text text-lighten-3" style="text-shadow:5px 5px 5px #000000">Alameda.</h5>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax">
        <img src="~/Resources/Images/parallax3.jpg">
    </div>
</div>

<div class="container">
    <div class="row center">
        <h1 id="maps">Dónde estamos</h1>
        <div class="col s12 m12 l12">
            <div class="card center" id="maps">
                <div class="card-image">
                    <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3327.869774504527!2d-70.71880394939402!3d-33.47874108067146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c4a00625e945%3A0xed24921edfa3780e!2sMonse%C3%B1or+Carlos+Oviedo+490%2C+Los+Cerrillos%2C+Cerrillos%2C+Regi%C3%B3n+Metropolitana!5e0!3m2!1ses-419!2scl!4v1565394449260!5m2!1ses-419!2scl" width="700" height="450" frameborder="0" style="border: 5px" allowfullscreen></iframe>
                    </div>
                    <div class="card-content">
                        <p>
                            Puedes encontrarno en Monseñor Carlos Oviedo 490, departamento B-32, Cerrillos.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="https://goo.gl/maps/TNiG8G6pTvQBmBds5">Ver en Google Maps</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax">
        <img src="~/Resources/Images/parallax2.jpg">
    </div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large orange">
        <i class="large material-icons">more_horiz</i>
    </a>
    <ul>
        <li><a class="scrollTo btn-floating teal darken-1 tooltipped" data-position="left" data-tooltip="Quiénes somos" href="#filaContenido1"><i class="material-icons">person</i></a></li>
        <li><a class="scrollTo btn-floating red darken-2 tooltipped" data-position="left" data-tooltip="Nuestras obras" href="#filaContenido2"><i class="material-icons">work</i></a></li>
        <li><a class="scrollTo btn-floating black tooltipped" data-tooltip="Dónde estamos" href="#maps"><i class="material-icons">place</i></a></li>
        <li><a class="scrollTo btn-floating indigo tooltipped" data-position="left" data-tooltip="Contáctenos" href="#contacto"><i class="material-icons">contact_mail</i></a></li>
    </ul>
</div>

<script>
    $(document).ready(function () {
        $('.parallax').parallax();
        $('.fixed-action-btn').floatingActionButton();
        $('.slider').slider({
            height: 600,
            indicators: false,
            duration: 1500
        }
        );
    });

    $(".scrollTo").on('click', function (e) {
        e.preventDefault();
        var target = $(this).attr('href');
        $('html, body').animate({
            scrollTop: ($(target).offset().top)
        }, 2000);
    });
</script>
 