@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes enlarge {
    from {
        height: 0px;
    }

    to {
        height: 300px;
    }
}


.parallax-container {
    height: 700px;
}

#titulo {
    /*animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: backwards;*/
    -webkit-animation: fadeIn 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeIn 2s; /* Firefox < 16 */
    -o-animation: fadeIn 2s; /* Opera < 12.1 */
    animation: fadeIn 4s;
    margin-top: -500px;
    margin-bottom: 200px;
    animation-delay: 2s;
    animation-fill-mode: backwards;
}


#filaContenido1 {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
    margin-bottom:60px;
}

#filaContenido2 {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-delay: 4s;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
}

#maps {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-delay: 5s;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
}

.hidden {
    overflow: hidden;
}